ACCOUNT:''
EMULATORPATH:''
EMULATORTYPE:''
PASSWORD:''
ADDR: '127.0.0.1'
SERIAL: 5555
ITEMCOLLECTION:
  SWITCH: false
  MAP: '绝境IV'
  LIMIT: 3
ITEMCOLLECTIONTOPLEVER:
  SWITCH: false
  LEVER: '绝境战IV'
RELIC:
    SWITCH: false
    LEVER: '普通难度'
    MAP: '沙漠星城'
REFINERY:
    SWITCH: false
WORLDTREE:
    SWITCH: false
    LEVER: '死境'